body{

    background-image: url("img/uno.png");
}

h1{
    margin-top: 70px;
    text-align: center;
    font-family: cursive;
}

#enlaceajax {
    margin-left: 47%;
    
    background-color: blue;
    color: red;
    /*border-radius: 50%;*/
    padding: 5px;
    width: 100px;
        margin-top: 30px;
}


div#destino {
    background-color: white;
    color: black;
    width: 450px;
    height: 51px;
    padding: 0px;
    margin-left: 400px;
    margin-top: 30px;
    text-align: center;
    font-family: verdana, sans-serif;
font-size: 12px;
font-weight: bold;
word-spacing: 0pt;
line-height: 4;
}

div.uno {
    margin-top: -190px;
    margin-right: 10px;
    margin-left: 30px;
}

div.dos{
    margin-left: 920px;
    margin-top: -280px;
}
div.tres{
    margin-left: 450px;
    margin-top: -60px;
}